@dialog-prefix-cls: kuma-dlg;

.@{dialog-prefix-cls} {
    outline: none;
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1000;

    &-hidden, &-wrap-hidden > & {
        display: none;
    }

    &-title {
        margin: 0;
        font-size: 14px;
        line-height: 40px;
        color: @basic-100;
        text-indent: 20px;
    }

    &-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 1px 8px #ced1d2;
        outline: 0;
        border-radius: 3px;
        overflow: hidden;
    }

    &-close {
        position: absolute;
        right: 20px;
        top: 6px;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        color: @basic-100;

    &:hover {
        color: #333;
        text-shadow: 0 0 2px #aaa;
    }

    &-x {
        font-family: kuma!important;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: .2px;
        -moz-osx-font-smoothing: grayscale;
        &:after {
            content: '';
        }
    }
}

  &-header {
    height: 40px;
    background-color: @brand-primary;
  }

  &-body {
    padding: 15px 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  &-footer {
    padding: 12px 0;
    background-color: @basic-300;
    text-align: center;
    button + button {
        margin-left: 8px;
        margin-bottom: 0;
    }
  }
}
